<form id="forma">
      <div class="grid-x search">
          <label class="form">
            <input id="url" type="text" placeholder="Введите запрос"></input>
          </label>
      </div>
       
       <a href="#" class="button" onclick='getForm()'>Go</a>
</form> 
