<div class="grid-container">
    <div class="auto cell"><form id="forma">
        <label  class="form">
            <input id="url" type="text" placeholder="Введите запрос"></input>
        </label>
      
       <a href="#" class="button" onclick='getForm()'>Go</a>
    </form>
    </div>
 </div>

<div class="data">
<h2>Дата регистрации:{{date}}</h2>
</div>